[Unit]
Description=Scripts server

[Service]
Type=simple
ExecStart=/usr/bin/node /var/www/scripts/package/lib/js/src/Server.bs.js "" ""

[Install]
WantedBy=multi-user.target
